* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #306f99;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* HEADER */
.header {
    background-color: #d3d3d3;
    font-size: 3rem;
    padding: 1rem 0;
}

.choose-difficulty {
    padding-top: 1rem;
}
.choose-difficulty p {
    font-weight: 900;
    font-size: 1.5rem;
}
.change-board-size{
    padding-top: 1rem;
}
.change-board-size button{
    background-color: #996f30;
    border: 2px solid black;
    border-radius: 25px;
    height: 2em;
    width: 5em;
    margin: 0.5rem;
}

.game-container {
    border: 1px solid black;
}
.game-container .head-container{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
}
.game-container .head-container .flags, .emoji, .time{
    width: 65px;
}
.game-container .features {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.game-container .features .lives, .hints {
    display: flex;
}

.board-container {
    min-width: 20rem;
}
.board-container table{
    padding-top: 1rem;
    margin: auto;
}
.board-container table td{
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    text-align: center;
}

.undo-and-safe{
    padding-top: 1rem;
}
.undo-and-safe button{
    width: 5rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #996f30;
    border: 2px solid black;
    margin: 0 0.5rem;
}

.cell-mine {
    background-color: red;
}
.cell-open {
    background-color: rgb(0, 225, 255);
}
.cell-safe{
    background-color: lightgoldenrodyellow;
}

.best-score {
    padding-top: 1rem;
}

/* FOOTER */

.copyright{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: lightgray;
}

/* HELPERS */

.flex{
    display: flex;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.align-center {
    align-items: center;
}